.google-logo {
  width: 272px;
  height: 92px;
}

.hide {
  display: none;
}

.expanded {
  margin-left: -1.5px;
}
::-webkit-scrollbar {
  display: none;
}

/* Closes the accordion */
.accordion__content {
  display: none;
}
.caret-down {
  display: block;
}

.caret-up {
  display: none;
}

.accordion.is-open .caret-up {
  display: block;
}

.accordion.is-open .caret-down {
  display: none;
}

/* Opens the accordion */
.accordion.is-open .accordion__content {
  display: block;
}

.scrolled {
  box-shadow: 2px 0 4px rgb(0 0 0 / 16%);
}

.droplist,
.desktop-droplist {
  display: none;
}
.search-box:focus,
.big-search-box:focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-box:focus ~ .droplist,
.big-search-box:focus ~ .desktop-droplist {
  display: flex;
  z-index: 10;
}

@media screen and (min-width: 425px) {
  .langs-wrap {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .search-langs {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .google-logo {
    width: 160px;
    height: 56px;
  }

  .expanded {
    margin-left: -1.5px;
  }
}

@media screen and (min-width: 1024px) {
  .expanded {
    margin-left: -8px;
  }
}

@media screen and (min-width: 1440px) {
  .expanded {
    margin-left: -2px;
  }
  .desktop-droplist {
    margin-left: 4px;
  }
}

@media screen and (min-width: 1790px) {
  .search-icon {
    left: 6rem;
  }
  .mic-icon {
    right: 6rem;
  }
}
