.google-logo {
  width: 272px;
  height: 92px;
}

.search-box {
}

.hide {
  display: none;
}

.expanded {
  margin-left: -1.5px;
}
::-webkit-scrollbar {
  display: none;
}

/* Closes the accordion */
.accordion__content {
  display: none;
}
.caret-down {
  display: block;
}

.caret-up {
  display: none;
}

.accordion.is-open .caret-up {
  display: block;
}

.accordion.is-open .caret-down {
  display: none;
}

/* Opens the accordion */
.accordion.is-open .accordion__content {
  display: block;
}

.scrolled {
  box-shadow: 2px 0 4px rgb(0 0 0 / 16%);
}

@media screen and (min-width: 425px) {
  .langs-wrap {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .search-langs {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .google-logo {
    width: 160px;
    height: 56px;
  }

  .expanded {
    margin-left: -1.5px;
  }
}

@media screen and (min-width: 1024px) {
  .expanded {
    margin-left: -8px;
  }
}

@media screen and (min-width: 1440px) {
  .expanded {
    margin-left: -2px;
  }
}
